/*
hacer que se vea igual o parecido en distintos navegadores

me gustaría usar una tipografía más parecida a la de una calculadora

testear cuán responsive es, cómo se vería en un celular */

h4 {
  font-weight: bold;
}

body {
  text-align: center;
}

#calculadora  {
	background-color: DarkGray;
	width: 230px;
	height: 320px;
	box-shadow: 2px 2px 2px 1px black;
	margin: 5% auto;  
	padding: 10px;
	border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

#display {
	background-color: LightGreen;
	border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
	text-align: right;
	box-shadow: 2px 2px 2px 1px black inset;
	padding: 5px;
	margin-right: 10px;
	margin-left: 10px;
}

#botonera {
  margin: 15px;
}

button {
  font-size: 16pt;
  width: 40px;
  height: 40px;
}

.solo {
  margin: 0 auto;
  top: 0%;
  text-align: center;
}

.solo button {
  font-size: 14pt;
  height: 28px;
  width: 93%;
}

.tresportres {
  top: 19%;
  left: 0%;
  width: 70%;
  float: left;
}

.operadores {
  top: 19%;
  right: 0%;
  width: 30%;
  float: right;
}