/*
me gustaría usar una tipografía más parecida a la de una calculadora
*/

/*
Cómo ajusto la altura del display 
y el espacio extra que tiene a la derecha: este con el padding;
*/

/*
me gustaría acomodar mejor los botones
*/

/* testear cuán responsive es, cómo se vería en un celular */


#calculadora  {
	background-color: DarkGray;
	width: 180px;
	box-shadow: 2px 2px 2px 1px black;
	text-align: center;
}

#display {
	background-color: LightGreen;
	width: 130px;
	height: 30px;
	text-align: right;
	box-shadow: 2px 2px 2px 1px black inset;
	padding-right: 2px;
}

#botonera {
	max-height: 200px;
}
